html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #003580; /* Azul oscuro similar a Booking */
}
.navbar a {
    color: white; /* Color blanco para los enlaces del navbar */

}

.navbar a:hover {
    color: #f8f9fa; /* Color blanco claro al pasar el ratón */
}

/* Opcional: agregar sombra al navbar */
.navbar-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-secundario {
    color: #0066cc; /* Azul para texto */
}


.btn-secundario {
    background-color: #0066cc; /* Azul similar al de la imagen */
    color: white; /* Texto en blanco */
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-secundario:hover {
   background-color: #005bb5; /* Un tono más oscuro para el hover */
 }


.